<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zy.stry" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />

        </activity>


        <activity android:name=".SearchResultsActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".Login"
            >
        </activity>
        <activity android:name=".SelectFromT"
            >
        </activity>
        <activity android:name=".RegisterActivity"
            >
        </activity>

        <activity android:name=".ChooseActivity"
            android:theme="@style/MyTheme">
            >
        </activity>
        <activity android:name=".BookDetailActivity"
            android:theme="@style/MyTheme"
            >
        </activity>
        <activity android:name=".ShowMessageActivity"
            >
        </activity>
        <activity android:name=".ShowMessageActivity_"
            >
        </activity>
        <activity android:name=".LogForT"
            >
        </activity>

        <activity
            android:name=".MyCenterBookDetailActivity"
            android:theme="@style/MyTheme">
            >
        </activity>
        <activity
            android:name=".SelfDefineActivity"
            android:theme="@style/MyTheme">
        </activity>
        <activity
            android:name=".SetUserInfActivity"
            android:theme="@style/MyTheme">
        </activity>


    </application>

</manifest>
